<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="delivery">

    <select id="deliveryList" resultType="kr.ed.haebeop.domain.DeliveryVO">
        select a.pno as pno, b.title as title, a.id as id, b.resdate as resdate, a.dstatus as dstatus, a.dno as dno
        from delivery a join payment b on (a.pno = b.pno)
        order by a.dno desc
    </select>

    <select id="deliveryDetail" resultType="kr.ed.haebeop.domain.DeliveryVO">
        select dno, title, id, tel, addr,resdate, dstatus
        from delivery a join payment b on (a.pno = b.pno)
        where dno=#{dno}
    </select>

    <update id="deliveryUpdate">
        update delivery set dcom =#{dcom}, dtel=#{dtel}, dstatus=#{dstatus}, edate=#{edate}, dcode=#{dcode} where dno=#{dno}
    </update>

    <select id="myDeliveryDetail" resultType="kr.ed.haebeop.domain.DeliveryVO">
        select a.dstatus as dstatus, a.id as id, a.tel as tel, a.addr as addr, a.dcode as dcode, a.dcom as dcom, a.dtel as dtel, b.name as name
        from delivery a join user b on (a.id = b.id)
        where dno=#{dno}
    </select>

</mapper>