<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="lecture">
    <select id="lectureList" resultType="kr.ed.haebeop.domain.LectureVO">
        <![CDATA[
            SELECT lno, cate, title, content as content, img, price as price, status, sdate, edate, tdate, tname, amt
            FROM lecture a JOIN teacher b ON a.tcode = b.tcode
        ]]>
        <where>
            <if test="category != null">
                AND a.cate = #{category}
            </if>
        </where>
        <![CDATA[
            ORDER BY lno DESC
        ]]>
    </select>

    <select id="getCount" resultType="integer">
        select count(*) from lecture
    </select>

    <select id="cateList" resultType="kr.ed.haebeop.domain.Category">
        select * from category
    </select>

    <select id="lectureDetail" resultType="kr.ed.haebeop.domain.LectureVO">
        SELECT lno, cateName, title, a.content as content, img, a.price as price, status, sdate, edate, tdate, tname, bname, amt
        FROM lecture a JOIN teacher b ON a.tcode = b.tcode JOIN book c ON a.bcode = c.bcode JOIN category d ON a.cate=d.cate
        WHERE lno=#{lno}
    </select>


</mapper>