<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="lecture">
    <select id="lectureList" resultType="kr.ed.haebeop.domain.LectureVO">
        <![CDATA[
            SELECT lno, a.cate as cate,cateName, a.title as title, a.content as content,img, a.price as price, status, sdate, edate, tdate, tname, amt
            FROM lecture a JOIN teacher b ON a.tcode = b.tcode JOIN category c ON a.cate=c.cate
        ]]>
        <where>
            <if test="category != null">
                AND a.cate = #{category}
            </if>
        </where>
        <![CDATA[
            ORDER BY lno DESC
        ]]>
    </select>

    <select id="getCount" resultType="integer">
        select count(*) from lecture
    </select>

    <select id="cateList" resultType="kr.ed.haebeop.domain.Category">
        select * from category
    </select>

    <select id="lectureDetail" resultType="kr.ed.haebeop.domain.LectureVO">
        SELECT lno,c.bcode as bcode, cateName, title, a.content as content, img, a.price as price, status, sdate, edate, tdate, tname, bname, amt
        FROM lecture a JOIN teacher b ON a.tcode = b.tcode JOIN book c ON a.bcode = c.bcode JOIN category d ON a.cate=d.cate
        WHERE lno=#{lno}
    </select>

    <select id="canApply" resultType="integer">
        SELECT (SELECT amt FROM lecture WHERE lno = #{lno}) - (SELECT COUNT(*) FROM payment WHERE lno = #{lno});
    </select>
    <insert id="lectureInsert">
        insert into lecture (cate, title, content, price, bcode,tcode, status, sdate,edate, tdate,amt)
        values(#{cate},#{title},#{content},#{price},#{bcode},#{tcode},#{status},#{sdate},#{edate},#{tdate},#{amt})
    </insert>
    <select id="teacherList" resultType="kr.ed.haebeop.domain.Teacher">
        select * from teacher
    </select>

    <delete id="teacherDelete">
        delete from teacher where tcode= #{tcode}
    </delete>

    <select id="tnameList" resultType="kr.ed.haebeop.domain.Teacher">
        select tname from Teacher
    </select>

    <select id="bnameList" resultType="kr.ed.haebeop.domain.Book">
        select bname from book
    </select>
</mapper>